.logoutButton {
  color: var(--accent);
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: var(--gutter);
  right: var(--gutter);
}

.logoutButton__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.restartButton {
  color: var(--accent);
  height: 15rem;
  width: 15rem;
}

.restartButton__icon {
  height: 7rem;
  width: 7rem;
}
