.restartButton {
  color: var(--accent);
  height: 15rem;
  width: 15rem;
}

.restartButton__icon {
  height: 7rem;
  width: 7rem;
}

.actions {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: var(--gutter);
  top: var(--gutter);
}

.actionButton {
  color: var(--accent);
  height: 5rem;
  margin-left: var(--gutter);
  width: 5rem;
}

.actionButton__icon {
  height: 2.5rem;
  width: 2.5rem;
}
