.wrapper {
  display: grid;
  gap: calc(var(--gutter) * 2);
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
}

.inputGroup {
  display: grid;
  gap: calc(var(--gutter) * 2);
  grid-template-columns: repeat(14, minmax(0, 1fr));
  width: 100%;
  flex-wrap: wrap;
}

.plexHostname {
  grid-column: span 14 / span 14;
}

.plexPort {
  grid-column: span 9 / span 9;
}

.plexUseHttps {
  grid-column: span 5 / span 5;
}

@media (min-width: 768px) {
  .plexHostname {
    grid-column: span 8 / span 8;
  }

  .plexPort {
    grid-column: span 4 / span 4;
  }

  .plexUseHttps {
    grid-column: span 2 / span 2;
  }
}
